.header {
    background-color: #f60;
    overflow: hidden;
    color: #fff;
    padding: 10px;

    .header_left {
        float: left;
    }

    .header_center {
        float: left;
        margin: 0 20px;
    }

    .header_right {
        float: right;
    }
}